/* Reset básico de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Cabeçalho e navegação */
header {
    background-color: #333;
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Seção de Produtos */
#produtos {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}

.produto {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h3 {
    margin-top: 1rem;
    color: #333;
}

.produto p {
    font-size: 1.2rem;
    color: #ff6600;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

button:hover {
    background-color: #ff6600;
}

/* Carrinho */
#carrinho {
    padding: 2rem;
    background-color: #fff;
    border-top: 2px solid #ddd;
    margin-top: 2rem;
}

#itens-carrinho {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
